name: 'General Checks'

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - main
      - dev

permissions:
  contents: write
  pull-requests: read

jobs:
  check-branch-policy:
    name: Check Branch push
    runs-on: ubuntu-latest
    steps:
      - name: Block push from main and dev
        if: github.event_name == 'push'
        run: |
          current_branch="${{ github.ref_name }}"
          echo "Verifying push: $current_branch"
          
          if [[ "$current_branch" == "main" || "$current_branch" == "dev" ]]; then
            echo "You push on $current_branch forbiden."
            exit 1
          fi
          echo "Can push."

  commit-and-style:
    name: Commit Message, C++ Style & Lint
    runs-on: ubuntu-latest
    needs: check-branch-policy
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install tools (clang-format, cpplint)
        run: |
          sudo apt-get update
          sudo apt-get install -y clang-format python3-pip
          pip3 install --user cpplint
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Check Commit Message
        if: github.event_name == 'push'
        run: |
          msgs=$(git log --format=%s ${{ github.event.before }}..${{ github.event.after }})
          bad_commits=$(echo "$msgs" | grep -vE '^(feat|fix|docs): |^Merge ' || true)
          
          if [ -n "$bad_commits" ]; then
            echo "Bad commit message :"
            echo "$bad_commits"
            exit 1
          fi
          echo "Commit message correct"

      - name: Check C++ Code Style (clang-format)
        run: |
          echo "Check the coding style with clang-format"
          find . -type f \( -name "*.cpp" -o -name "*.hpp" \) \
            ! -path "*/build/*" ! -path "*/cmake-build-*/*" \
            -exec clang-format --dry-run --Werror {} +

      - name: Check C++ Code Style (clang-format)
        run: |
          echo "Check the coding style with clang-format"
          find src tests Network test_input -type f \( -name "*.cpp" -o -name "*.hpp" \) \
              -exec clang-format -i -style=file {} +

  push_to_mirror:
    name: push_to_mirror
    runs-on: ubuntu-latest
    needs: commit-and-style
    if: github.event_name == 'push' && needs.build-and-test.result == 'success'ss'
    steps:
      - name: push_to_mirror
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: pixta-dev/repository-mirroring-action@v1
        with:
          target_repo_url:
            "git@github.com:EpitechPGE3-2025/G-CPP-500-PAR-5-2-rtype-17.git"
          ssh_private_key:
            ${{ secrets.GIT_SSH_PRIVATE_KEY }}